$nav-color: #215aa9;
$primary-color: #2f62f2;

.primary-color{
    color: $primary-color;
}

p.lead{
    color: #767676;
    font-size: 0.8rem;
}

/* HEADER */
header{

    margin-bottom: 2rem;

    .header-nav{
        background: $nav-color;
    }
    
    .navbar-dark .navbar-nav .nav-link{
        color:#fff;
    }

    .main-image{
        padding: 2rem 0;
    }


}



